/*=============== MEDIA QUERIES ===============*/
/* For Extra-Small devices */
@media screen and (min-width: 320px) {
    .nav-wrapper {
        nav {
            display: none;
        }

        .mobile-navigation {
            display: flex;
            z-index: 99999;
        }
    }

    .banner-section {
        .banner-wrapper {
            grid-template-columns: 1fr;

            .banner-content {
                order: 1;
                width: 100%;
                margin: 0 auto;
                padding: 0px 15px;

                h1 {
                    margin: 20px 0px;
                    font-size: 30px;
                    line-height: 39px;
                }

                p {
                    font-size: 14px;
                }

                .buttonGroup {
                    width: 280px;
                    margin: 20px 0px;

                    .primary-btn {
                        height: 40px;
                        margin-right: 10px;
                        font-size: 12px;
                    }

                    .secondary-btn {
                        height: 40px;
                        font-size: 12px;

                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }

            .banner-img {
                width: 70%;
                margin: 0 auto 25px auto;
            }
        }
    }

    .service-section {
        .service-wrapper {
            .service-title {
                h2 {
                    font-size: 28px;
                    line-height: 45px;
                }
            }
            .service-content {
                grid-template-columns: 1fr;
                justify-items: center;
                margin: 50px auto 20px auto;
                .card {
                    min-width: 85%;
                    margin: 15px 25px;
                    height: 230px;
                    flex-direction: row;
                    justify-content: space-between;

                    img {
                        width: 14%;
                        margin: 15px 50px 25px 5px;
                    }
                    h3, p {
                        text-align: right;
                        padding: 5px;
                    }
                }
            }
        }
    }

    .featureOne-section,.featureTwo-section {
        min-height: 55vh;
        .feature-wrapper {
            grid-template-columns: 1fr;
            margin: 25px auto;
            grid-gap: 0%;
            img {
                width: 75%;
                margin: 0 auto;
            }
            .feature-content {
                order: 1;
                padding: 20px 15px;
                h4 {
                    text-align: center;
                }
                h2 {
                    font-size: 28px;
                    line-height: 45px;
                }
                p{
                    margin: 10px 5px 20px 5px;
                }
                button {
                    width: 150px;
                    height: 50px;
                }
            }
        }
    }

    .cta-section {
        .cta-wrapper {
            grid-template-columns: 1fr;
            .cta-mobile {
                max-width: 280px;
                max-height: 200px;
                margin: 50px auto;
            }
            .cta-content {
                padding: 10px 15px;
                margin: 0 auto;
                h4 {
                    text-align: center;
                }
                h2 {
                    font-size: 25px;
                    line-height: 40px;
                    text-align:center;
                }
                p{
                    margin: 20px 5px 20px 5px;
                }
                .button-group {
                    justify-content: center;
                    button {
                        width: 140px;
                        height: 40px;

                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                } 
            }
        }
    }
}

/* For Small devices */
@media screen and (min-width: 576px) {
    .banner-section {
        .banner-wrapper {
            .banner-content {
                h1 {
                    margin: 20px 10px;
                    font-size: 50px;
                    line-height: 55px;
                }

                p {
                    font-size: var(--normal-font-size);
                    margin: 10px 0px;
                }

                .buttonGroup {
                    width: 400px;

                    .primary-btn {
                        height: 45px;
                        font-size: 14px;
                    }

                    .secondary-btn {
                        height: 45px;
                        font-size: 14px;

                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }

    .service-section {
        .service-wrapper {
            .service-title {
                h2 {
                    font-size: 40px;
                    line-height: 55px;
                }
            }
            .service-content {
                .card {
                    margin: 20px auto;
                    height: 250px;
                    h3, p {
                        text-align: left;
                        padding: 5px 25px;
                    }
                    img {
                        margin: 15px 10px 25px 5px;
                    }
                }
            }
        }
    }

    .featureOne-section,.featureTwo-section  {
        .feature-wrapper {
            grid-template-columns: 1fr 1fr;
            margin: 15px auto;
            grid-gap: 0%;
        }
        .feature-content {
            order: unset;
            padding: 10px 15px;
            h2 {
                font-size: 24px !important;
                line-height: 35px !important;
                margin: 10px 0px;
            }
        }
    }

    .cta-section {
        min-height: 60vh;
        .cta-wrapper {
            grid-template-columns: 1fr 1fr;
            .cta-mobile {
                max-height: 300px;
            }
            .cta-content {
                h2 {
                    font-size: 22px;
                    line-height: 35px;
                } 
            }
        }
    }
}

/*  For Medium Device   */
@media screen and (min-width: 768px) {
    .nav-wrapper {
        nav {
            display: flex;
            margin: 10px auto;

            .logo {
                width: 100px;
            }

            ul {
                width: 280px;
            }

            .searchbar {
                width: 280px;
                height: 45px;

                span {
                    width: 20px;
                    height: 20px;
                    font-size: 12px;
                }
            }
        }

        .mobile-navigation {
            display: none;
        }
    }

    .banner-section {
        .banner-wrapper {
            grid-template-columns: 1fr 1fr;

            .banner-content {
                order: unset;

                h1 {
                    font-size: 40px;
                    line-height: 50px;
                }
            }

            .banner-img {
                width: 100%;
            }
        }
    }

    .service-section {
        .service-wrapper {
            .service-content {
                grid-template-columns: 1fr 1fr 1fr;
                padding: 0px 15px;
                .card {
                    max-width: 180px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: auto;
                    }

                    h3, p {
                        text-align: center;
                        padding: 5px;
                    }

                    h3 {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .featureOne-section, .featureTwo-section  {
        min-height: 65vh;
    }

    .cta-section {
        .cta-wrapper {
            .cta-mobile {
                max-width: 300px;
                max-height: 400px;
            }
            .cta-content {
                margin: 0 auto;
                .button-group {
                    justify-content: center;
                    button {
                        width: 200px;
                        height: 70px;

                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }
                } 
            }
        }
    }
}

/* For large devices */
@media screen and (min-width: 990px) {
    nav {
        display: flex;
        margin: 5px auto;

        .logo {
            width: auto;
        }

        ul {
            width: 310px;
        }

        .searchbar {
            width: 300px;
            height: 55px;

            span {
                width: 25px;
                height: 25px;
                font-size: 15px;
            }
        }
    }

    .featureOne-section, .featureTwo-section  {
        min-height: 75vh;
        .feature-wrapper {
            grid-template-columns: 1fr 1fr;
            margin: 15px auto;
            padding: 5px 15px;
            grid-gap: 15%;
            img{
                width: auto;
            }
        }
        .feature-content {
            padding: 10px 15px;
            h2 {
                font-size: 40px !important;
                line-height: 54px !important;
            }
            button {
                width: 200px !important;
                height: 70px !important;
            }
        }
    }

    .cta-section {
        min-height: 70vh;
    }
}

/* For larger devices */
@media screen and (min-width: 1024px) {
    .banner-section {
        .banner-wrapper {
            .banner-content {
                order: unset;
                margin: 0px 0px;
                padding: 0px 20px;

                h1 {
                    font-size: 54px;
                    line-height: 65px;
                    margin: 25px 0px;
                }

                p {
                    font-size: var(--normal-font-size);
                }

                .buttonGroup {
                    width: 450px;
                    margin: 20px 0px;

                    .primary-btn {
                        height: 70px;
                        margin-right: 15px;
                        font-size: 16px;
                    }

                    .secondary-btn {
                        height: 70px;
                        font-size: 16px;

                        img {
                            width: 45px;
                            height: 45px;
                        }
                    }
                }
            }
        }
    }
    .featureOne-section, .featureTwo-section  {
        min-height: 85vh;
    }

    .cta-section {
        min-height: 80vh;
        .cta-wrapper {
            align-items: center;
            justify-content: center;
            .cta-mobile {
                max-width: 300px;
                max-height: 400px;
                margin: 12% auto;
            }
            .cta-content {
                justify-content: flex-start;
                h2 {
                    @include h2Style(left);
                }
                h4 {
                    @include h4Style(left);
                }
                .button-group {
                    justify-content: flex-start;
                }
            }
        }
    }
}

/*     For Extra-Large-Device     */
@media screen and (min-width: 1440px) {
    .banner-section {
        .banner-wrapper {
            .banner-content {
                h1 {
                    font-size: 70px;
                    line-height: 78px;
                    margin: 25px 0px;
                }
            }
        }
    }

    .service-section {
        .service-wrapper {
            .service-content {
                margin: 70px auto 20px auto;
                grid-gap: 50px;
                .card {
                    max-width: 300px;
                    margin: 10px auto;
                    height: 310px;
                    h3 {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .cta-section {
        min-height: 90vh;
        display: flex;
        align-items: center;
        .cta-wrapper {
            height: 100%;
            align-items: center;
        }
    }
}