//  Searchbar:
@mixin SearchBar ($width, $height, $maxWidth, $border, $radius, $spanHWidth, $fontSize) {
    position: relative;
    width: $width;
    max-width: $maxWidth;
    height: $height;
    display: flex;
    align-items: center;
    border: $border solid var(--second-color);
    border-radius: $radius;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 30px -10px;

    input {
        width: 80%;
        height: 100%;
        padding-left: 14%;
        color: var(--third-color);
        outline: none;
        border: none;
        border-radius: $radius;

        &::placeholder {
            color: var(--third-color);
            font-weight: bold;
            font-size: 14px;
        }
    }

    .search-icon {
        position: absolute;
        left: 4%;
        top: 53%;
        transform: translateY(-50%);
    }

    .cart-icon {
        position: relative;
        right: 0%;
        display: flex;
        align-items: center;
        margin-left: 10px;
        padding-left: 10px;
        border-left: 0.5px solid var(--second-color);
    }

    span {
        position: absolute;
        top: -4px;
        right: -2%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $spanHWidth;
        height: $spanHWidth;
        background: var(--first-color);
        color: var(--white-color);
        font-size: $fontSize;
        border-radius: 50%;
        font-weight: 600;
    }
}

//  ul:
@mixin unorderList ($width, $direction, $pT, $margin) {
    ul {
        width: $width;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: $direction;
        padding-top: $pT;
        padding-left: 0px;

        li {
            margin: $margin auto;

            a {
                color: var(--list-colot);
                transition: all 0.5s ease;

                &:hover {
                    color: var(--first-color);
                }
            }

            .active {
                color: var(--first-color);
            }
        }
    }
}

//  Button:
@mixin Button ($width, $marginR, $bg, $color, $cursor) {
    width: $width;
    height: 70px;
    margin-right: $marginR;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--normal-font-size);
    background-color: $bg;
    color: $color;
    cursor: $cursor;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.5s ease;
}

//  h2
@mixin h2Style ($align){
    font-size: 40px;
    line-height: 54px;
    text-align: $align;
    font-weight: bold;
    color: var(--title-color);
    text-transform: capitalize;
}

//  h3
@mixin h3Style ($align) {
    font-size: 22px;
    font-weight: 600;
    color: var(--title-color);
    text-align: $align;
}

//  h4 
@mixin h4Style ($align){
    font-size: 18px;
    text-align: $align;
    font-weight: 500;
    color: var(--h3-color);
    text-transform: capitalize;
}

//  p
@mixin pStyle ($align){
    font-size: 14px;
    color: var(--text-color);
    font-weight: 500;
    text-align: $align;
}